<div class="table-responsive">
  <table class="table table-success table-sm text-center">
    <thead>
    <tr class="bg-success text-light">
      <th class="scoresheet__column">{{ teamOne }}</th>
      <th class="scoresheet__column">{{ game.teamOneScore }}</th>
      <th class="scoresheet__column">{{ game.teamTwoScore }}</th>
      <th class="scoresheet__column">{{ teamTwo }}</th>
    </tr>
    <tr>
      <th>Honor</th>
      <th>Points</th>
      <th>Points</th>
      <th>Honor</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let round of game.rounds; index as index"
      [class.scoresheet__row--first]="index % 4 === 0">
      <td>{{ round.teamOneHonors }}</td>
      <td
        [class.scoresheet__cell--has-points]="round.teamOnePoints > 0"
        [class.scoresheet__cell--has-status]="round.teamOnePoints === 0">
        {{ getTeamScore(1, index, round) }}
      </td>
      <td
        [class.scoresheet__cell--has-points]="round.teamTwoPoints > 0"
        [class.scoresheet__cell--has-status]="round.teamTwoPoints === 0">
        {{ getTeamScore(2, index, round) }}
      </td>
      <td>{{ round.teamTwoHonors }}</td>
    </tr>
    </tbody>
  </table>
</div>
