<table class="table table-dark table-sm table-borderless">
  <thead class="text-center">
  <tr>
    <th colspan="2">Honor</th>
  </tr>
  <tr>
    <th>{{ teamOneHonors }}</th>
    <th>{{ teamTwoHonors }}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-center">
    <td>
      <app-button
        class="mr-1"
        icon="minus"
        [isError]="true"
        [disabled]="teamOneHonors < INCREMENT"
        (click)="onRemoveTeamOneHonors()">
        {{ INCREMENT }}
      </app-button>
      <app-button [iconRight]="true" icon="plus" (click)="onAddTeamOneHonors()">
        {{ INCREMENT }}
      </app-button>
    </td>
    <td>
      <app-button
        class="mr-1"
        icon="minus"
        [isError]="true"
        [disabled]="teamTwoHonors < INCREMENT"
        (click)="onRemoveTeamTwoHonors()">
        {{ INCREMENT }}
      </app-button>
      <app-button [iconRight]="true" icon="plus" (click)="onAddTeamTwoHonors()">
        {{ INCREMENT }}
      </app-button>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="pt-3 pb-3">
      <app-bar [alignCenter]="true">
        <app-button
          icon="angle-right"
          [iconRight]="true"
          [isInfo]="true"
          (click)="onNext()">
          next
        </app-button>
      </app-bar>
    </td>
  </tr>
  </tbody>
</table>
