<ng-container *ngIf="hasError">
  <app-error>
    Oops, there is no active game going on at the moment. Create a new game or go back to the overview.
  </app-error>
  <app-button icon="arrow-left" class="mr-2" [isError]="true" route="/">Take me Back</app-button>
  <app-button icon="plus" [route]="createGameRoute">Create New Game</app-button>
</ng-container>

<ng-container *ngIf="!loading && !hasError">
  <app-scoresheet [game]="game"></app-scoresheet>
  <app-score-form
    [activePlayerId]="activePlayerId"
    (submitRound)="onSubmitRound($event)">
  </app-score-form>
  <app-suit-selector [(activeSuit)]="trump"></app-suit-selector>

  <h3>This Turn</h3>
  <p>Troef: {{ trump }}</p>
  <p>Who is playing: {{ getActivePlayer() }}</p>
  <p>Who is dealing: {{ getPreviousPlayer() }}</p>
</ng-container>

