<button
  class="btn"
  [class.btn-sm]="isSmall"
  [class.btn-warning]="isWarning"
  [class.btn-danger]="isError"
  [class.btn-primary]="isInfo"
  [class.btn-success]="!isWarning && !isError && !isInfo"
  [class.btn-block]="isFullWidth"
  [routerLink]="route"
  [attr.disabled]="disabled ? 'disabled' : null"
  (click)="onClick($event)">
  <i *ngIf="icon && !iconRight" class="fa fa-{{ icon }}">&nbsp;</i>
  <ng-content></ng-content>
  <span *ngIf="icon && iconRight">&nbsp;<i class="fa fa-{{ icon }}"></i></span>
</button>
