<h1>Klaverjassen</h1>
<hr>

<ng-container *ngIf="hasActiveGame">
  <h3>Continue Game</h3>
  <p>Jump back in and continue where you left off!</p>
  <app-button icon="play" [isWarning]="true" [route]="playGameRoute">
    Continue Game
  </app-button>
  <hr>
</ng-container>

<h3>Start New Game</h3>
<br>
<app-button [route]="createGameRoute" icon="plus">
  New Game
</app-button>

<hr>
<br>
<h3>Game History</h3>
<br>
<app-game-table
  *ngIf="games.length > 0"
  [games]="games"
  (play)="onPlay($event)"
  (view)="onView($event)">
</app-game-table>
