<app-card
  title="Who is playing?"
  subtitle="In order of picking the trump (around the clock).">
  <app-input
    placeholder="Player 1"
    [hasFocus]="focus === 1"
    [(value)]="playerOne"
    (keydown.enter)="focus = 2">
  </app-input>
  <app-input
    placeholder="Player 2"
    [hasFocus]="focus === 2"
    [(value)]="playerTwo"
    (keydown.enter)="focus = 3">
  </app-input>
  <app-input
    placeholder="Player 3"
    [hasFocus]="focus === 3"
    [(value)]="playerThree"
    (keydown.enter)="focus = 4">
  </app-input>
  <app-input
    placeholder="Player 4"
    [hasFocus]="focus === 4"
    [(value)]="playerFour"
    (keydown.enter)="onSubmit()">
  </app-input>

  <hr>

  <strong>Team 1:</strong>
  {{ playerOne ? playerOne : 'Player 1' }} &
  {{ playerThree ? playerThree : 'Player 3' }}
  <br>
  <strong>Team 2:</strong>
  {{ playerTwo ? playerTwo : 'Player 2' }} &
  {{ playerFour ? playerFour : 'Player 4' }}

  <hr>

  <app-bar [alignRight]="true">
    <app-button class="mr-2" icon="refresh" [route]="cancelRoute" [isError]="true">
      Cancel
    </app-button>
    <app-button icon="play" [disabled]="!isComplete()" (buttonClick)="onSubmit()">
      Start Game
    </app-button>
  </app-bar>
</app-card>
